<md-sidenav-container>
    <md-sidenav #sidenav mode="side">
        <md-list>
            <md-list-item>
                <button color="accent" md-button mdTooltip="Home" routerLink=""><md-icon>home</md-icon></button>
            </md-list-item>
            <md-list-item>
                <button color="accent" md-button mdTooltip="Coupon" routerLink="/coupon"><md-icon>receipt</md-icon></button>
            </md-list-item>
            <md-list-item>
                <button color="accent" md-button mdTooltip="Checkout" routerLink="/checkout"><md-icon>shopping_cart</md-icon></button>
            </md-list-item>
            <md-list-item>
                <button color="accent" md-button mdTooltip="Help" routerLink="/help"><md-icon>help</md-icon></button>
            </md-list-item>

        </md-list>


    </md-sidenav>

    <md-toolbar>
        <div class="filler"></div>
        <button md-button mdTooltip="Home" routerLink=""><md-icon>home</md-icon></button>
        <button md-button mdTooltip="Coupon" routerLink="/coupon"><md-icon>receipt</md-icon></button>
        <button md-button mdTooltip="Checkout" routerLink="/checkout"><md-icon>shopping_cart</md-icon></button>
        <button md-button mdTooltip="Help" routerLink="/help"><md-icon>help</md-icon></button>

        <md-toolbar-row>
            <button mdTooltip="Menu" md-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon></button>
        </md-toolbar-row>


    </md-toolbar>


    <div class="container">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>