<md-tab-group>
    <md-tab label="Deals">
        <md-grid-list cols="4">
            <md-grid-tile *ngFor="let carrot of carrots">
                <div class="carrots-container">
                    <div class="carrot" [ngStyle]="{'background-image':'url('+ carrot.imagePath + ')'}">

                    </div>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </md-tab>
    <md-tab label="About To Spoil"></md-tab>
    <md-tab label="Not the Best...But"></md-tab>
    <md-tab label="Discounted"></md-tab>
</md-tab-group>